/* body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  } */
  
  .logger {
    background: linear-gradient(to right, #3b82f6, #9333ea);
    background-color: red;
    color: white;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  