body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, rgb(193, 229, 231), rgb(62, 159, 186));
}

.container {
    height: 400px;
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: 2px ;
    border-radius: 44px;
}
.container .forget{
    text-decoration: none;
    padding-right: 50px;
    margin-top: 15px;
    padding-top: 13px;
}

.image img {
    width: 300px;
    height: auto;
    margin: 15px;
    padding: 23 13px 23px 13px;
}

.login-form {
    padding: 20px;
    margin: 13px;
    
    width: 300px;
    height: 200px;
    position: relative;
}

.login-form h2 {
    text-align: center;
   top: 0;
   margin:0;
   padding: 0;
}

.login-form label {
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
    top: 5px;
}

.login-form input {
    width: 80%;
    margin: 10px;
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #45a049;
}
.login-form button{
    background-color: rgb(94, 148, 248);
    margin-bottom: 10px;
}
