@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:wght@200&display=swap");

@keyframes breatheX {
	0% {
		transform: scaleX(1);
	}

	100% {
		transform: scaleX(5);
	}
}


:root {
	--color-green: #68EBB8;
	--color-white: #eee;
	--color-body-bg: #011627;
	--color-profile-card-bg: #2F4054;
	--color-profile-border: var(--color-green);
}

::-webkit-scrollbar {
	width: .4rem;
}

::-webkit-scrollbar-track {
	background-color: var(--color-profile-card-bg);
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-green);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	background-color: var(--color-body-bg);

	color: #ffffff;
	font-family: Arial, sans-serif;
	text-align: center;
	overflow-x: hidden;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.profile {
	--backdrop-bg-color: var(--color-profile-card-bg);

	position: relative;
	border: .2em solid var(--color-profile-card-bg);
	border-radius: 10px;
	padding: 40px;
	margin: 20px;
	width: calc(33.33% - 40px);
	text-align: center;
	transition: background-color 0.3s ease, transform 1s ease, border-color 1s ease;
	overflow: hidden;
}

.profile>* {
	position: relative;
	z-index: 10;
}

.profile::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 75%;
	background-image: linear-gradient(80deg, #00dbde 0%, #fc00ff 100%);
	transform: scaleX(2);
	animation: breatheX 4s ease-in-out infinite alternate-reverse;
}

.profile:hover {
	transform: translateY(-2%) scale(1.02);
}


.pfp img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-bottom: 10px;
	outline: .5rem solid var(--color-body-bg);
}

.name {
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	margin-bottom: 10px;
}

.skills {
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	row-gap: 7px;
}

.skill {
	background-color: #007277;
	padding: 5px 10px;
	letter-spacing: 0.1em;
	border-radius: 5px;
	margin: 0 5px 10px 0;
	font-size: 14px;
	display: inline-block;
}

.project {
	display: flex;
	justify-content: space-between;
	padding: 5px 10px;
	font-size: 35px;
}

.project a {
	color: #1a21f1;
	margin: 0 10px;
	font-size: 24px;
	text-decoration: none;
	transition: color 0.3s, font-size 0.3s;
}

.project a:hover {
	color: #333;
	font-size: 28px;
}

.dark-icon {
	color: #222;
}

.projectNam {
	margin: 13px;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	padding: 5px 10px;
	border-radius: 5px;
	margin: 0 5px 10px 0;
	font-size: 16px;

}

.social {
	margin-top: 13px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.social a {
	color: #5c6770;
	margin: 0 10px;
	font-size: 24px;
	text-decoration: none;
	transition: color 0.3s, transform 0.3s;
}

.social a:hover {
	color: var(--color-green);
	transform: scale(1.1);
}

@media screen and (max-width: 768px) {
	.container {
		justify-content: center;
	}

	.profile {
		width: 100%;
	}
}

button {
	color: #fff;
	padding: 10px 20px;
	background-color: #2b3031;
	border: none;
	cursor: pointer;
	font-family: "Poppins", sans-serif;
	font-size: 1.1em;
	border-radius: 5%;
}

.add {
	background-color: #21263d;
	margin: 5px;
}

.search {
	max-width: 1200px;
	margin: 1rem auto;
	padding: 0 9%;
	text-align: center;
}

#searchInput {
	width: 100%;
	display: block;
	padding: 1.2em 2em;
	border: none;
	border-radius: 100rem;
	background-color: var(--color-profile-card-bg);
	color: white;
	font-size: 16px;
	box-shadow: .2rem .4rem 2rem #2f405450;
	transition: box-shadow .5s ease-in-out;
}

#searchInput::placeholder {
	color: rgba(255, 255, 255, 0.37);
}

#searchInput:focus {
	outline: none;
	box-shadow: .2rem .4rem 2rem #2f405497;
}

h1 {
	padding: 20px;
}

header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.title {
	flex-grow: 1;
	text-align: center;
	font-size: 36px;
	font-family: "PT Serif", serif;
}

.dark-btn {
	padding: 10px 20px;
	cursor: pointer;
	background-color: #011627;
	font-size: 30px;
	transition: all .3s;
}

.dark-btn:hover {
	color: #00dbde;
}

.light-background {
	background-color: #fff;
}

.icon-color {
	color: #000;
}

.text-color {
	color: #000;
}

footer {
	padding: 20px;
	margin-bottom: 5px;
}