@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:wght@200&display=swap");

@keyframes breatheX {
  0% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(5);
  }
}

:root {
  --color-green: #68ebb8;
  --color-white: #eee;
  --color-body-bg: #121212;
  --color-profile-card-bg: #2f4054;
  --color-profile-border: #e35205;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background-color: var(--color-profile-card-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-green);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-color: var(--color-body-bg);
  color: #ffffff;
  font-family: Arial, sans-serif;
  text-align: center;
  overflow-x: hidden;
}

body .title{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.profile {
  --backdrop-bg-color: var(--color-profile-card-bg);

  position: relative;
  /* border: 0.2em solid var(--color-profile-border);
  border-radius: 10px; */
  padding: 40px;
  margin: 20px;
  width: calc(33.33% - 40px);
  text-align: center;
  transition: background-color 0.3s ease, transform 1s ease,
  border-color 1s ease;
  overflow: hidden;
}

.profile>* {
  position: relative;
  z-index: 10;
}

.profile::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 75%;
  background-image: linear-gradient(to right, #e35205, #ff6462, #ff87a5, #ffaed7, #f5d4f5, #f8dbf8, #fce1fc, #ffe8ff, #ffd2ee, #ffc0b9, #ffbf6e, #ffd200);
  transform: scaleX(2);
  animation: breatheX 1s ease-in-out infinite alternate-reverse;
 z-index: 10;
}

.profile:hover {
  transform: translateY(-2%) scale(1.02);
}

.profile .lines{
 position: absolute;
 inset: 0;
 background: #000;
 overflow: hidden;
 
}

.profile .lines::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 600px;
  height: 120px;
  background: linear-gradient(transparent, var(--color-profile-border), var(--color-profile-border), var(--color-profile-border), transparent);
  animation: animate 4s linear infinite;
   
}

@keyframes animate {
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.profile .lines::after{
  content: '';
  position: absolute;
  inset:3px;
  background: var(--color-body-bg);
}

.profile .pfp{
  z-index: 13;
}


.pfp img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  outline: 0.5rem solid var(--color-body-bg);
} 

.name {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

.skills {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 7px;
}

.skill {
  background-color: var(--color-profile-border);
  padding: 7px;
  letter-spacing: 0.1em;
  border-radius: 5px;
  margin: 0 5px 10px 0;
  font-size: 14px;
  display: inline-block;
}

.project {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  font-size: 35px;
}

.project a {
  color: #1a21f1;
  margin: 0 10px;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s, font-size 0.3s;
}

.project a:hover {
  color: #333;
  font-size: 28px;
}

.dark-icon {
  color: #222;
}

.projectNam {
  margin: 13px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 5px 10px 0;
  font-size: 16px;
}

.social {
  margin-top: 13px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social a {
  color: #ffffff;
  margin: 0 10px;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}

.social a:hover {
  color: var(--color-green);
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .container {
    justify-content: center;
  }

  .profile {
    width: 100%;
  }
}

button {
  color: #fff;
  padding: 10px 20px;
  background-color: #2b3031;
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  border-radius: 5%;
}

.add {
  background-color: white;
  color: var(--color-body-bg);
  font-weight: 600;
  margin: 5px;
}

.search {
  max-width: 1200px;
  margin: 1rem auto;
  padding: 0 9%;
  text-align: center;
}

#searchInput {
  width: 100%;
  display: block;
  padding: 1.2em 2em;
  border: none;
  border-radius: 100rem;
  background-color: var(--color-profile-card-bg);
  color: white;
  font-size: 16px;
  box-shadow: 0.2rem 0.4rem 2rem #2f405450;
  transition: box-shadow 0.5s ease-in-out;
}

#searchInput::placeholder {
  color: rgba(255, 255, 255, 0.37);
}

#searchInput:focus {
  outline: none;
  box-shadow: 0.2rem 0.4rem 2rem #2f405497;
}

h1 {
  padding: 20px;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.title {
  flex-grow: 1;
  text-align: center;
  font-size: 36px;
  font-family: "PT Serif", serif;
  color: var(--color-profile-border);
  margin-top: 15px;
}

.dark-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: var(--backdrop-bg-color);
  font-size: 30px;
  transition: all 0.3s;
}

.dark-btn img {
  width: 50px;
  height: 70px;
}

.dark-btn #icon:hover {
  color: #00dbde;
}

.light-background {
  background-color: #fff;
}

.icon-color {
  color: #000;
}

.icon-position {
  position: absolute;
  top: 6px;
  right: 12px;
}

.text-color {
  color: #000;
}

footer {
  padding: 20px;
  margin-bottom: 5px;
}

/* footer */
.footer {
  position: relative;
  width: 100%;
  background-image: linear-gradient(to right, #e35205, #ff6462, #ff87a5, #ffbf6e, #ffd200);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}